# RStudio misc
.RData
.Rhistory
.Rapp.history
.Ruserdata
.Rproj.user

# pkg build files
*-Ex.R
/*.tar.gz
/*.Rcheck/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# tokens
.Renviron
.httr-oauth

# knitr/Rmd misc
*_cache/
/cache/
*.utf8.md
*.knit.md

# stored CMS data
storage/

# renv files
.Rprofile
renv.lock
renv/

